body {
  background-image: url("https://3.bp.blogspot.com/-y-cEN-Ui7rs/UtJtIb74X8I/AAAAAAAAGdg/5i1zN81uZ0g/s1600/Plain-design-pattern-dark-background-image-HD-resolution-latest-pack.jpg");
  font-family: "Merienda", cursive;
}
.card-image .home-image {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border-radius: 20px;
}
.sidenav{
  background-color: #b0bec5;
}

.card .card-content {
  background-color: #cbbfbb;
}

.card .card-content h3 {
  margin-top: 0;
}

.card .card-reveal .project-info {
  font-size: 3vw;
}

p span{
  display: block;
}

.card .card-content p{
  display: inline;
}

@media only screen and (max-width: 768px) {
  .card .card-image {
    background-color: black;
  }
  .card .card-image .about-images {
    display: block;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: 15vh;
  }

  .card .card-stacked .card-content .abouts {
    font-size: 8px;
  }

}
